<div class="agents">
  <div class="col-md-8 offset-md-2">
      <div class="row align-items-end">
        <div class="row justify-content-center my-4 ">This is Agent details Page</div>
        <div><button class="my-3" (click)="addAgent()">Add an Agent</button></div>
        <router-outlet></router-outlet>
      </div>
    <div class="container text-center">
    <table class="table table-bordered border-primary">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">address</th>
        <th scope="col">mobile</th>
        <th scope="col">email</th>
        <th scope="col">Options</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let agent of agent ">
        <th scope="row">{{agent.id}}</th>
        <td>{{agent.name}}</td>
        <td>{{agent.address}}</td>
        <td>{{agent.mobile}}</td>
        <td>{{agent.email}}</td>
        <td><button class="mx-3" type="submit" (click)="onEdit(agent)" >Edit</button><button>Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>

